<%= form_with(model: book_list) do |form| %>
  <% if book_list.errors.any? %>
    <div style="color: red">
      <ul>
        <% book_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, required: true, class: "form-control" %>

    <%= form.label :listDescription, style: "display: block" %>
    <%= form.text_field :listDescription, required: true, class: "form-control" %>
  </div>

  <div class="mt-2">
    <%= form.submit class: "btn btn-danger" %>
  </div>

<% end %>
