<% if notice %>
<p class="alert alert-success" style="color: green"><%= notice %></p>
<% end %>
<% content_for :title, "Book lists" %>

<div class="container mt-5">
<div class="nav justify-content-between align-items-center">
   <h1>Book lists</h1>
   <%= link_to "Create new list", new_book_list_path , class: "btn btn-danger" %>
</div>
<hr>

<div class="row">
      <% @book_lists.each do |book_list| %>
      <div class="col-12 col-sm-6 col-md-4 mt-3">
         <div class="card border-0 shadow shadow-md">
   <div class="card-body">
       <h3 class="card-title"> <%= book_list.title %> </h3>
       <p class="card-description"> <%= book_list.listDescription %> </p>
       <div class="card-footer d-flex gap-2 justify-content-end">
       <%= link_to "Open", book_list, class: "btn btn-danger btn-sm" %>
       <%= link_to "Edit", edit_book_list_path(book_list), class: "btn btn-danger btn-sm" %>
       <%= button_to "Delete", book_list, method: :delete, data: { turbo_confirm: "Are you sure you want to delete this book?"}, class: "btn btn-danger btn-sm"%>
       </div>
   </div>

</div>
     </div>     
       <% end %>
</div>
<div class="d-flex justify-content-center mt-3">
   <%= pagy_bootstrap_nav(@list_pagy).html_safe if @list_pagy.pages > 1 %>  
  </div>
</div>