<nav class="navbar bg-dark text-danger p-2 shadow shadow-md">
   <div class="container">
     <h1> <i class="bi bi-book-half"></i> MyBrary </h1>
     <div class="nav gap-2 align-items-center">
      <%= link_to "My lists", book_lists_path, class: "btn btn-danger"%>
         <%= link_to "About", "/about" ,class: "btn btn-danger" %>
         <% if current_user %>
            <div class="dropdown">
            <button class="dropdown-toggle btn btn-danger" data-bs-toggle="dropdown" data-bs-target="#profile-dropdown"> Welcome, <%= current_user.email %> ! </button>
            <ul class="dropdown-menu" id="profile-dropdown">
                 <li class="dropdown-item">
  <%= button_to "Delete my account",
              registration_path(current_user),
              method: :delete,
              data: { turbo_confirm: "Are you sure you want to delete your account? This cannot be undone." },
              class: "btn btn-link text-black dropdown-item p-0" %>
</li>

<li class="dropdown-item">
  <li class="dropdown-item">
  <%= button_to "Log out",
                destroy_user_session_path,
                method: :delete,
                data: { turbo_confirm: "Are you sure you want to log out?" },
                class: "btn btn-link text-black dropdown-item p-0" %>
</li>

</li>

            </ul> 
           </div>
         <% end %>
     </div>
   </div>
</nav>